html,
body {
    margin: 0;
    padding: 0;
}


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    margin: 0;
}

:root {
    --white: rgb(223, 211, 231);
    --color-bg1: rgb(245, 245, 245);
    --color-bg2: rgb(238, 236, 234);
    --color1: 191, 184, 164;
    --color2: 174, 167, 144;
    --color3: 215, 210, 198;
    --color4: 207, 202, 186;
    --color5: 229, 225, 219;
    --circle-size: 80%;
    --blending: hard-light;

    --color-bg1-toggled: rgb(22, 0, 2);
    --color-bg2-toggled: rgb(20, 5, 1);
    --color1-toggled: 212, 181, 148;
    --color2-toggled: 234, 72, 17;
    --color3-toggled: 180, 11, 6;
    --color4-toggled: 127, 10, 4;
    --color5-toggled: 232, 94, 16;

    --dark: 22, 0, 2; 
    --red: 127, 10, 3;
}

.app {
    z-index: 1000;
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}


@keyframes moveHozizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }

    50% {
        transform: translateX(50%) translateY(10%);
    }

    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

.cursor {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8)0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 50%;
    height: 50%;
    top: -25%;
    left: -25%;

    opacity: 0.7;
}

.gradient-bg.toggled .cursor {
    background: radial-gradient(circle at center, rgba(var(--color-interactive-toggled), 0.8)0, rgba(var(--color-interactive-toggled), 0) 50%) no-repeat;
}

.gradient-bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));

    top: 0;
    left: 0;
}


.gradient-bg.toggled {
    background: linear-gradient(40deg, var(--color-bg1-toggled), var(--color-bg2-toggled));
}

svg {
    display: none;
}

.gradients-container {
    filter: blur(40px);
    width: 100%;
    height: 100%;
}

.g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8)0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size)/2);
    left: calc(50% - var(--circle-size)/2);

    transform-origin: center center;
    animation: moveVertical 38s ease infinite;

    opacity: 1;
}


.gradient-bg.toggled .g1 {
    background: radial-gradient(circle at center, rgba(var(--color1-toggled), 0.8)0, rgba(var(--color1-toggled), 0) 50%) no-repeat;
}

.g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8)0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size)/2);
    left: calc(50% - var(--circle-size)/2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 28s ease infinite;

    opacity: 1;
}

.gradient-bg.toggled .g2 {
    background: radial-gradient(circle at center, rgba(var(--color2-toggled), 0.8)0, rgba(var(--color2-toggled), 0) 50%) no-repeat;
}

.g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8)0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size)/2 + 200px);
    left: calc(50% - var(--circle-size)/2 - 200px);


    transform-origin: calc(50% + 400px);
    animation: moveInCircle 48s ease infinite;

    opacity: 1;
}

.gradient-bg.toggled .g3 {
    background: radial-gradient(circle at center, rgba(var(--color3-toggled), 0.8)0, rgba(var(--color3-toggled), 0) 50%) no-repeat;
}

.g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8)0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size)/2);
    left: calc(50% - var(--circle-size)/2);


    transform-origin: calc(80% - 200px);
    animation: moveHozizontal 48s ease infinite;

    opacity: 1;
}

.gradient-bg.toggled .g4 {
    background: radial-gradient(circle at center, rgba(var(--color4-toggled), 0.8)0, rgba(var(--color4-toggled), 0) 50%) no-repeat;
}

.g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8)0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size)/2);
    left: calc(50% - var(--circle-size)/2);

    transform-origin: calc(50% - 500px) calc(50% + 200px);
    animation: moveInCircle 38s ease infinite;

    opacity: 1;
}

.gradient-bg.toggled .g5 {
    background: radial-gradient(circle at center, rgba(var(--color5-toggled), 0.8)0, rgba(var(--color5-toggled), 0) 50%) no-repeat;
}

.interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8)0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
}

.interactive.toggle {
    background: radial-gradient(circle at center, rgba(var(--color-interactive-toggled), 0.8)0, rgba(var(--color-interactive-toggled), 0) 50%) no-repeat;
}

.background {
    z-index: 10;
    width: 770px;
    height: 770px;
    background-color: rgb(229, 225, 219);
    border-radius: 50%;
    filter: blur(30px);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.qr {
    align-self: center;
    justify-self: center;
}

.description {
    font-family: "Barlow Semi Condensed", sans-serif;
    color: #F6F6F6;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
}

.hidden {
    visibility: hidden;
}

.canvas {
    position: absolute;
    border-radius: 50%;
    z-index: 20;
}

.intro {
    color: var(--white);
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-size: 1.2rem;
    line-height: 140%;
    width: 500px;
}

.intro__text {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 200;
    letter-spacing: 0.06px;
}

.intro__title {
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.connectButton {
    width: 200px;
    height: 67px;
    border: rgb(234, 219, 219) solid 2px;
    border-radius: 10px;
    background-color: rgba(24, 2, 2, 0.447);
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: "Barlow Semi Condensed", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.connectButton:hover{
    background-color: rgba(24, 2, 2, 0.815);
}