html,
body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    background-color: black;
    font-family: "owners", sans-serif;
    color: #FFF9C9;
}

.hidden{
    visibility: hidden;
}

.start__image{
    width: 100%;
    height: auto;
}

.image--title{
    padding-left: 3rem;
    padding-right: 3rem;
}

.instruction__firt{
    font-family: "owners", sans-serif;
    font-weight: 800;
    color: #FFF9C9;
    text-align: center;
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.instruction__second{
    padding-top: 1rem;
    font-family: "owners", sans-serif;
    font-weight: 100;
    color: #FFF9C9;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
}

.game__level{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
}

.timer__number{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
}

.screen__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.screen__timer{
    text-align: right;
}

.screen__level{
    text-align: center;
    flex-grow: 1;
}

.screen__icons{
    text-align: left;
    max-width: 100px;
}